.lead__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 16px 16px 40px 16px;
  max-width: 340px;
}

@media only screen and (min-width: 768px) {
  .lead__subtitle  {
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 56px auto;
    max-width: 640px;
  }
}

@media only screen and (min-width: 1280px) {
  .lead__subtitle  {
    margin: 32px auto 64px auto;
  }
}
